include ../mixins/functions
+pageHeader("Introducción", "assets/images/header/header_media.svg")

.container#page-introduccion

    .header-ecored
        h1 1. Lenguajes orientados a objetos


    .jumbotron.bg-white

        p.mb-5 La programación se puede enfocar teniendo en cuenta un concepto denominado paradigma, el cual hace énfasis específicamente en la forma de realizar las cosas al momento de escribir las secuencias de código que conforman los programas.

        p.text-center.my-6
            img(src="assets/images/pages/tema-1/t1.svg").img-fluid

        p.mt-5 Quizás el concepto es fácilmente entendible, identificando también lo que no es la programación orientada a objetos, la cual hace mucho tiempo dio sus primeros pasos en el mundo de la programación. Es posible recordar que la codificación se iniciaba en una primera línea y de allí hacia abajo se desplegaban todas las instrucciones que se deseaba fueran cumplidas por cada programa, y en caso de un fallo, o de requerir alguna modificación, era necesario repasar todo el código para identificar cómo corregir o cómo cambiar lo que se requería.

        p Dicho paradigma denominado programación secuencial o estructurada, ha sido reemplazada, o mejor, modernizada, a través del paradigma orientado a objetos, que como su nombre lo indica, centra la escritura de los programas en los objetos que lo componen, y de esta manera permite dividirlos en una especie de subprogramas que se comunican entre sí para conformar un todo, haciendo mucho más fácil el proceso de corrección de fallas y de actualización de las funcionalidades.

